.InputField {
  display: block;
  margin: 0 0 1rem;
  padding: 0;
  width: 100%;
}

.InputFieldInput {
  display: block;
  padding: 0.6rem;
  width: 100%;
  border: 1px solid silver;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 700;
}

.InputFieldInput::placeholder {
  color: #757575;
}
