.MealPlanner {
  margin: 0 auto;
  display: flex;
  flex-grow: 1;
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
}

.MealPlannerLeft {
  width: 75%;
}

.MealPlannerRight {
  width: 25%;
}

.MealPlannerHeader {
  color: #404040;
}

.MealPlannerHeaderMeta .description {
  margin-bottom: 10px;
}

.MealPlannerHeaderEditorControls {
  padding: 10px 0;
}

