.MealPlanner {
  margin: 0 auto;
  display: flex;
  flex-grow: 1;
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
}

.MealPlannerLeft {
  width: 75%;
}

.MealPlannerRight {
  width: 25%;
}

.MealPlannerHeader {
  color: #404040;
}

.MealPlannerHeaderMeta {
}

.MealPlannerHeaderMeta .description {
  margin-bottom: 10px;
}

.MealPlannerHeaderEditorField {
  margin-bottom: 1rem;
}

.MealPlannerHeaderEditorInput {
  display: block;
  padding: 0.6rem;
  width: 100%;
  border: 1px solid silver;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 700;
}

.MealPlannerHeaderEditorTextarea {
  display: block;
  margin: 0;
  width: 100%;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 12px 10px 12px 10px;
  font-size: 18px;
  color: #404040;
}

.MealPlannerHeaderEditorInput::placeholder,
.MealPlannerHeaderEditorTextarea::placeholder {
  color: #757575;
}

.MealPlannerHeaderEditorInputCheckboxHidden {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.MealPlannerHeaderEditorCheckboxLabel {
  position: relative;
  display: block;
  margin: 0 0 5px;
  padding-left: 30px;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.MealPlannerHeaderEditorInputCheckbox {
  position: absolute;
  top: 3px;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  border: 2px solid #0e3478;
  background: #fff;
}

.MealPlannerHeaderEditorInputCheckboxHidden:checked + .MealPlannerHeaderEditorInputCheckbox::before,
.MealPlannerHeaderEditorInputCheckboxHidden:checked + .MealPlannerHeaderEditorInputCheckbox::after {
  position: absolute;
  top: 7px;
  left: 2px;
  width: 5px;
  height: 2px;
  border-radius: 1px;
  background: #0e3478;
  content: '';
  transition: opacity 0.3s ease-in-out;
  transform: rotate(45deg);
}

.MealPlannerHeaderEditorInputCheckboxHidden:checked + .MealPlannerHeaderEditorInputCheckbox::after {
  top: 6px;
  left: 4px;
  width: 9px;
  transform: rotate(-45deg);
}

.hint {
  color: #797979;
  font-size: 14px;
}

.MealPlannerHeaderEditorControls {
  padding: 10px 0;
}

.MealPlannerHeaderEditorControls .button {
  padding: 0.5rem 1.5rem;
  min-width: 115px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.2s;
}

.MealPlannerHeaderEditorControls .button svg {
  margin-right: 5px;
  vertical-align: baseline;
}

.MealPlannerHeaderEditorControls .button:hover {
  opacity: 0.8;
}

.MealPlannerHeaderEditorControls .button:focus,
.MealPlannerHeaderEditorControls .button:active {
  opacity: 0.9;
}

.MealPlannerHeaderEditorControls .button.primary {
  margin-right: 10px;
  background: #06b05b;
  color: #fff;
}

.MealPlannerHeaderEditorControls .button.primary svg {
  fill: #fff;
}

.MealPlannerHeaderEditorControls .button.secondary {
  border: 1px solid;
  color: #404040;
  opacity: 0.7;
}

.MealPlannerHeaderEditorControls .button.warning.primary {
  background: #f086a4;
  color: #fff;
}

.MealPlannerHeaderEditorControls .button.warning.secondary {
  color: #f086a4;
}

.MealPlannerHeaderEditorControls .button.secondary:hover {
  opacity: 1;
}

